# This is an example of what keys you should put in `.dev.vars`

OPENAI_API_KEY=
# Optional - defaults to the value below, set to override, or remove if default is ok
OPENAI_API_URL=https://api.openai.com/v1

ANTHROPIC_API_KEY=
# Optional - defaults to the value below, set to override, or remove if default is ok
ANTHROPIC_API_URL=https://api.anthropic.com/v1

# Social Providers

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
