@import 'tailwindcss';

@import '@ariakit/tailwind';

@font-face {
  src: url(./fonts/ml/0-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(./fonts/ml/1-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0020-007F;
}

@theme {
  --root-font-size: 14px;
  --font-mono: ml, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /**
   * Any --color-* variable is automatically accessible in ak-layer, ak-text, ak-edge, and other color utilities.
   *
   * Default light theme
   */
  --color-canvas: #f5f2ed;
  --color-primary: #007acc;
  --color-secondary: #ec4899;

  /* Dracula */
  --color-canvas: #282a36;
  --color-primary: #50fa7b;
  --color-secondary: #ff79c6;

  /* Gruvbox */
  /* --color-canvas: #282828;
  --color-primary: #83a598;
  --color-secondary: #d79921; */

  /* Nord */
  /* --color-canvas: #2e3440;
  --color-primary: #81a1c1;
  --color-secondary: #d8dee9; */

  /* One Dark Pro */
  /* --color-canvas: #282c34;
  --color-primary: #61dafb;
  --color-secondary: #e06c75; */

  /* Material */
  /* --color-canvas: #263238;
  --color-primary: #c792ea;
  --color-secondary: #f7cd7a; */

  /* Monokai */
  /* --color-canvas: #272822;
  --color-primary: #f92672;
  --color-secondary: #a6e22e; */

  /** Night Owl */
  /* --color-canvas: #011627;
  --color-primary: #bf94e4;
  --color-secondary: #e99173; */

  /** VSCode */
  /* --color-canvas: #1e1e1e;
  --color-primary: #c586c0;
  --color-secondary: #d7ba7d; */
}

/* Default dark theme */
/* :root {
  @variant dark {
    --color-canvas: #0a0a0a;
    --color-primary: #bc89bd;
    --color-secondary: #c99c6e;
  }
} */

@layer base {
  html,
  body {
    @apply min-h-screen;
  }

  html {
    color-scheme: light dark;
    font-size: var(--root-font-size);
  }

  body {
    @apply ak-layer-canvas font-mono;
  }

  * {
    @apply ak-edge-canvas;
  }

  .using-mouse * {
    outline: none !important;
  }

  #app {
    @apply contents;
  }
}
