@import '@libs/ui-primitives/styles';

@source "../../../../libs/ui-primitives/src";

@font-face {
  src: url(./fonts/ml/0-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(./fonts/ml/1-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0020-007F;
}

@theme {
  --root-font-size: 14px;
  --font-mono: ml, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@layer base {
  html,
  body {
    @apply min-h-screen;
  }

  html {
    color-scheme: light dark;
    font-size: var(--root-font-size);
  }

  body {
    @apply ak-layer-canvas font-mono;
  }

  * {
    @apply ak-edge;
  }

  a {
    @apply focus:ak-outline-primary;
  }

  .using-mouse * {
    outline: none !important;
  }

  #app {
    @apply contents;
  }
}
